/* Typography */
body
{
	font: 16px/26px Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4 {
	font-size: 2em;
	line-height: 1.5em;
	font-weight: bold;
}
h2 {
	font-size: 1.7em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.1em;
}

/* Link Styles */
a:link, a:active, a:visited, a:hover {
	color: #075b66;
    text-decoration: underline;
}
a:hover {
	color: #378b96;
	text-decoration: none;
}

/* Container Div */
div#container
{
	margin: 0 auto;
	max-width: 1400px;
	min-width: 960px;
}
/* ------------------
 styling for the tables
   ------------------   */
 /*this is what we want the div to look like*/
.topright {
    display:block;
	font-size: 0.75em;
	font-weight: bold;

    /*set the div in the top right corner*/
    position:absolute;
    top:0;
    right:0;
    width:250px;
}

.rollingwheel {
	width: 450px;
	margin: 0px auto;
	padding: 0px;
	text-align: center;
}

.message{
   display:block;
	font-size:0.875em;
    position:absolute;
	color: #039;

}

.bottomcenter{
	font-size: 0.6em;
	text-align: center;
	color: #039;
	width: 450px;
	margin: 5px auto;
}

.providerlist{
	font-size:0.75em;
	text-align: center;
	color: #039;
	width: 450px;
	margin: 5px auto;
}
.topright_tight{
    display:block;
	font-size:0.75em;
	font-weight: bold;

    /*set the div in the top right corner*/
    position:absolute;
    top:0;
    right:0;
    width:290px;
}
.topright_tight img {
	vertical-align: -4px;
}
.headers_singleparagraph{
	font-size: 1.75em;
	margin: 45px auto;
	font-weight: bold;
	color: #039;
}


.singleparagraph{
	font-size: 0.875em;
	color: #039;
    margin: 45px 160px;
	width: 60%;
	text-align: left;
}
.titlemain {
	width: 450px;
	margin: 0px auto;
	padding: 0px;
	text-align: center;

}


/* Suggestion Areas */
#suggestions {
	font-size: 0.875em;
	margin: 10px auto 0;
	width: 900px;
}
#suggestions h1 {
	background: #378b96 none;
	border: 3px solid #333;
	color: #fff;
	margin: 0 5px 3px;
	padding: 2px 6px;
	text-align: center;
	font: 1.2em/1.5em Courier, monospace;
	font-weight: bold;
}
#suggestions div {
	float: left;
	width: 300px;
	text-align: right;
}
#suggestions ul {
	padding: 2px 6px;
}

/**********************
*     Form Styles     *
**********************/

/* Config form */

#config-form {
	text-align: left;
}

#config-form fieldset + fieldset {
	margin: 20px 0;
}
#config-form fieldset legend {
	border-bottom: 3px solid #075b66;
	color: #075b66;
	font-size: 2em;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 10px;
}
#config-form fieldset h1 {
	font-size: 1.3em;
	margin-top: 15px;
}
#config-form fieldset fieldset + fieldset {
	margin: 10px 0;
}
#config-form fieldset fieldset legend {
	border: none;
	color: inherit;
	font-size: 1em;
	margin-bottom: 0;
}
/* Search form */

#search-form {
	margin: 0 auto;
	width: 900px;
}

/* Main Search Area */
#search-terms {
	background: #378b96 none;
	border: 5px solid #333;
	color: #fff;
	font: 1.5em/1em Courier, monospace;
	font-weight: bold;
	padding: 15px 5px;
}

#search-terms input {
	font: inherit;
}

#search-terms input[type=text] {
	border: 5px solid #075b66;
	margin: 0;
	padding: 9px;
	width: 745px;
}

#search-form input[type=submit] {
	background: #666 none;
	border: 5px solid #333;
	color: #fff;
	cursor: pointer;
	margin: 0;
	padding: 7px;
	width: 70px;
}
#search-form input[type=submit]:active {
	background: #333 none;
	border-color: #666;
	position: relative;
	top: 2px;
	left: 2px;
}

#search-terms p {
	font-size: 0.75em;
	padding-top: 5px;
}
#search-terms a {
	color: inherit;
	text-decoration: none;
}

/* Advanced options */
#advanced-options {
	background: #075b66 none;
	border: 5px solid #333;
	border-top: none;
	color: #fff;
	display: none;
	font-family: Courier, monospace;
	font-weight: bold;
	margin: 0 auto;
	min-height: 20px;
	overflow: hidden;
	padding: 15px 0 5px;
	width: 700px;
}
#advanced-options select {
	margin-bottom: 15px;
}
#advanced-options .switch {
	display: inline-block;
	vertical-align: middle;
}

/* Switch-toggle 8-bit Theme */
.eight-bit {
	background: #333 none;
	border: 5px solid #ccc;
	color: #666;
	font-weight: bold;
	text-align: center;
	font-family: Courier, monospace;
	margin: 10px;
	height: 30px;
	width: 290px;
}

.eight-bit input:checked + label {
	color: #ffffff;
}
	
.eight-bit .slide-button {
	background-color: #277b86;
}

.eight-bit p {
	color: #333;
	text-shadow: none;
}

.eight-bit span {
	color: #fff;
}

/* Table Styles */
table {
	width: 100%;
}
.results
{
	border-collapse: collapse;
	color: #075b66;
	margin: 30px 0;
	text-align: left;
}
.results th
{
	font-weight: bold;
	padding: 2px 2px;
	border-bottom: 2px solid #075b66;
}
.results tbody tr {
	color: #666;
	font-size: 0.8em;
}
.results tbody tr:nth-child(2n) {
	background: #dde3f0 none;
	color: #444;
}
.results tbody tr img {
	vertical-align: middle;
}
.results td
{
	border-bottom: 1px solid #ccc;
	padding: 2px 2px;
}
.results tbody tr:hover
{
	background: #378b96 none;
	color: #f0f0f0;
}
.results tbody tr:hover a:link, .results tbody tr:hover a:active, .results tbody tr:hover a:visited {
	color: #fff;
}
.titlecell {
	width: 70%;
}

.sizecell {
	width: 7%;
	text-align: center;
}

.predbcell {
	width: 7%;
	text-align: center;
}

.datecell {
	width: 7%;
	text-align: center;
}

.providercell {
	width: 9%;
	min-width: 100px;
	text-align: center;	
}
.searchkind {
	background-color: #ffffff;
	text-align: center;
	color: #378b96;
	vertical-align: middle;
}

.tabular-form td, .tabular-form th {
	padding: 4px 7px;
}
.tabular-form tbody tr {
	border-bottom: 1px solid #ccc;
}
.tabular-form input[type=text], .tabular-form input[type=password], .tabular-form select {
	width: 100%;
}

/* Alert Styles */

.alert {
	background: #378b96 none;
	border-radius: 10px;
	color: #fff;
	font-family: Courier, monospace;
	font-weight: bold;
	margin-bottom: 18px;
	overflow: hidden;
	padding: 8px 35px 8px 14px;
	width: 420px;
}
.silent {
	background: inherit;
	color: inherit;
}
.flex {
	border-radius: 5px;
	float: right;
	margin: 0 0 5px;
    padding: 2px 4px 2px 4px;
	width: 150px;
}
.red {
	background: #f00 none;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.confcbox {
	outline: 1px solid #000000
}

.conftbox {
	font-size: 0.75em;
	border: 1px solid #ccc;
	color: #000000
}

.confbttn {
	background:#fff;
	font-size: 0.75em;
	border: 2px solid #ccc;
	color: #000000
}

.confbttnbig {
	/*background:#a2bcc0;*/
	background: #378b96 none;
	width: 150px; 
	font-weight: bold;
	/*border: 1px solid #a2bcc0;*/
	border: 1px solid #378b96;
	color: #fafafa;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
}

.conftsel {
	font-size: 0.75em;
	border: 1px solid #ccc;
	background:#fff;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}


.imgdisplayed {
 }
